--
-- PostgreSQL database dump
--

\restrict cDQpRKdhEsXp3ri6isFKHGthgYdUNPSh9VKb3J1rIjfPcgwpJq6CNEdsTtXeVWA

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees (
    id integer NOT NULL,
    name text NOT NULL,
    content_types text NOT NULL,
    working_days text NOT NULL
);


ALTER TABLE public.employees OWNER TO postgres;

--
-- Name: employees_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.employees_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.employees_id_seq OWNER TO postgres;

--
-- Name: employees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.employees_id_seq OWNED BY public.employees.id;


--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id integer NOT NULL,
    name text NOT NULL,
    product_type text NOT NULL,
    employee_id integer NOT NULL
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: projects_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.projects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.projects_id_seq OWNER TO postgres;

--
-- Name: projects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.projects_id_seq OWNED BY public.projects.id;


--
-- Name: rotation_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rotation_history (
    id integer NOT NULL,
    employee_id integer NOT NULL,
    year integer NOT NULL,
    month integer NOT NULL,
    shift_assigned integer NOT NULL
);


ALTER TABLE public.rotation_history OWNER TO postgres;

--
-- Name: rotation_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rotation_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rotation_history_id_seq OWNER TO postgres;

--
-- Name: rotation_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rotation_history_id_seq OWNED BY public.rotation_history.id;


--
-- Name: saved_rosters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.saved_rosters (
    id integer NOT NULL,
    year integer NOT NULL,
    month integer NOT NULL,
    generated_at timestamp without time zone DEFAULT now() NOT NULL,
    excel_blob bytea NOT NULL
);


ALTER TABLE public.saved_rosters OWNER TO postgres;

--
-- Name: saved_rosters_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.saved_rosters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.saved_rosters_id_seq OWNER TO postgres;

--
-- Name: saved_rosters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.saved_rosters_id_seq OWNED BY public.saved_rosters.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    password_hash text NOT NULL,
    full_name text DEFAULT ''::text NOT NULL,
    role text DEFAULT 'user'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: employees id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees ALTER COLUMN id SET DEFAULT nextval('public.employees_id_seq'::regclass);


--
-- Name: projects id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects ALTER COLUMN id SET DEFAULT nextval('public.projects_id_seq'::regclass);


--
-- Name: rotation_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rotation_history ALTER COLUMN id SET DEFAULT nextval('public.rotation_history_id_seq'::regclass);


--
-- Name: saved_rosters id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_rosters ALTER COLUMN id SET DEFAULT nextval('public.saved_rosters_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.employees VALUES (1, 'Meena', '["Content", "Email"]', '["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]');
INSERT INTO public.employees VALUES (2, 'David', '["Content", "Email"]', '["Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]');
INSERT INTO public.employees VALUES (3, 'Vijender', '["Content", "Message"]', '["Monday", "Thursday", "Friday", "Saturday", "Sunday"]');


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.projects VALUES (1, 'Nom Nom', 'Content', 2);
INSERT INTO public.projects VALUES (2, 'Travelier', 'Content', 2);
INSERT INTO public.projects VALUES (3, 'Renovus capital', 'Content', 2);


--
-- Data for Name: rotation_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.rotation_history VALUES (15, 1, 2026, 4, 2);
INSERT INTO public.rotation_history VALUES (16, 2, 2026, 4, 2);
INSERT INTO public.rotation_history VALUES (8, 3, 2026, 4, 2);


--
-- Data for Name: saved_rosters; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.users VALUES (1, 'admin', 'scrypt:32768:8:1$ckCWnUxTy24ScvPN$e8baa42e2c4d4217033c2bcff501eb505d2a06da02af1c54adbd1a51d4aaa03853334fd744415c6050522c4766e0e6f6050d4cf15deae006451961c0b90c1e71', 'Administrator', 'admin', '2026-03-26 03:54:15.866952');
INSERT INTO public.users VALUES (2, 'Bharath', 'scrypt:32768:8:1$t6T02IPGt0Ax8Edo$574ff7761d49d090a0d5cab4629fbce19d878d243b9872a2b303dc0c46509625789cbb264e7b5a18316ce1f9638becaae75a0a727c06b63333eb71d48fa8dbae', 'Bharath', 'user', '2026-03-26 04:46:51.483627');


--
-- Name: employees_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_id_seq', 21, true);


--
-- Name: projects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.projects_id_seq', 91, true);


--
-- Name: rotation_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rotation_history_id_seq', 63, true);


--
-- Name: saved_rosters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.saved_rosters_id_seq', 3, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: employees employees_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_name_key UNIQUE (name);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: rotation_history rotation_history_employee_id_year_month_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rotation_history
    ADD CONSTRAINT rotation_history_employee_id_year_month_key UNIQUE (employee_id, year, month);


--
-- Name: rotation_history rotation_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rotation_history
    ADD CONSTRAINT rotation_history_pkey PRIMARY KEY (id);


--
-- Name: saved_rosters saved_rosters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_rosters
    ADD CONSTRAINT saved_rosters_pkey PRIMARY KEY (id);


--
-- Name: saved_rosters saved_rosters_year_month_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_rosters
    ADD CONSTRAINT saved_rosters_year_month_key UNIQUE (year, month);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: projects projects_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: rotation_history rotation_history_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rotation_history
    ADD CONSTRAINT rotation_history_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict cDQpRKdhEsXp3ri6isFKHGthgYdUNPSh9VKb3J1rIjfPcgwpJq6CNEdsTtXeVWA

